/* background color user-choosen */

.task-card--rose { 
  background-color: #F8C8DC;
}

.task-card--sky {
  background-color: #B7D6E8;
}

.task-card--honey {
  background-color: #FAF3DD;
}

.task-card--sage {
  background-color: #DCE3C5;
}

.task-card--honeydew {
  background-color: #C3E8BD;
}

.task-card--peach {
  background-color: #EAD7C3;
}

/* default color not meant to be chosen */
.task-card--yellow {
  background-color: #F1DF00;
}
